#vbx-client-status {
	float: right;
	position: relative;
	overflow: visible;
}

#vbx-client-status .client-button {
	height: 32px;
	width: 88px;
	line-height: 32px;
	padding: 0 28px 0 14px;
	font-size: 14px;
	font-weight: bold;
	color: #999;
	background: #404040 url(../i/vbx-client-status.png) 65px -32px no-repeat;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	/**
	 * @bugfix border-radius background bleed
	 * @see http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed
	 */
	-webkit-background-clip: padding-box;
}

#vbx-client-status.online .client-button {
	color: #FFF;
    background-color: #53A82B;
    background-color: -moz-linear-gradient(100% 100% 90deg, #448723, #53A82B);
    background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#53A82B), to(#448723));
	background-position: 65px top;
}

#vbx-client-status .isonline,
#vbx-client-status.online .isoffline {
	display: none;
}

#vbx-client-status.online .isonline {
	display: block;
}

#client-first-run {
	display: block;
	padding: 10px;
	border: 1px solid gray;
	background: white;
	margin-bottom: 1px;
	background: yellow;
}
