/* Devices */

.devices-blank {
	padding: 20px 0 15px 100px;
    background: #EAF4FB url('../i/devices-icon.png') no-repeat 15px 20px;
	border: 3px solid #CCC;
	border-bottom: none;
}

.devices-blank h2 {
    font-size: 28px;
    color: #454545;
}

.devices-blank p {
	width: 460px;
    font-size: 17px;
    color: #666;
}


.device-container {
	margin-bottom: 20px;
}

.device-container h3 {
	margin-bottom: 5px;
}

.device-container .no-devices p {
	margin: 10px 0;
	padding: 12px;
	color: #999;
	font-style: italic;
	border: 1px solid #CCC;
    -moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3+, Chrome */
    -khtml-border-radius: 6px; /* Konqueror */
    border-radius: 6px; /* Standard. IE9 */
    -webkit-background-clip: padding-box;
}

.device-container .device-list{
    width: 100%;
    margin: 10px 0 20px 0;
}

.device-container .device-list .device,
.device-container .device-list .device-placeholder {
    height: 39px;
    line-height: 39px;
    margin-bottom: 5px;
    padding: 0 8px 0 20px;
    background: #FFF url(../i/device-drag-grip.png) no-repeat 2px 2px;
    border: 1px solid #CCC;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    cursor: move;
}
.device-container .device-list .device-placeholder {
	background: #FFF;
	border: 1px dotted #DDD;
}

.device-container .device-list .device-hover {
    background-position: 2px 35px;
}

.device-container .device-list .voicemail {
    background: #FFF;
    cursor: default;
}

.device-container .device-list .enabled label,
.device-container .device-list .enabled p {
    font-weight: bold;
    color: #222;
}

.device-container .device-list .disabled label,
.device-container .device-list .disabled p {
    font-weight: bold;
    color: #777;
}

.device-container .device-list .field-label-inline {
    margin: 0 !important;
}

.device-container .device-list .device-type {
    float: left;
    height: 24px;
    width: 24px;
    margin: 7px 10px 0 4px;
    background: url(../i/standard-icons-sprite.png) no-repeat left center;
}

.device-container .device-list .phone-type {
    background-position: 0px center;
}

.device-container .device-list .voicemail-type {
    background-position: -68px center;
}

.device-container .device-list .device-name {
    float: left;
    margin-right: 20px;
    min-width: 120px;
}

.device-container .device-list .device-value {
    float: left;
    margin-right: 20px;
    color: #444;
    min-width: 100px;
}

.device-container .enable-sms {
    margin: 12px 4px 0 0;
}

.device-container .device-status {
    float: right;
    height: 28px;
    line-height: 28px;
    margin: 4px 20px 0 0;
    background-color: #777;
    border: 1px solid #444;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-background-clip: padding-box;
}

.device-container .device-status a {
    display: block;
    float: left;
    padding: 0 10px;
    text-decoration: none;
}

.device-container .device-status a.enabled {
    font-weight: bold;
    color: #444;
    background-color: #FFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.device-container .device-status a.disabled {
    color: #444;
	background-color: #777;
}

.device-container .device-status .checkbox {
    display: none;
}

.device-container .device-list .edit,
.device-container .device-list .trash {
    float: right;
    margin: 7px 0 0 10px;
}

.device-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #444;
}

.device-container .radio {
    margin: 2px 3px 0 0;
}

.mobile-apps-toggle-link {
	margin: 0 0 0 2px;
	padding: 0 0 0 20px;
	background: url('../i/toggle-arrow-16.png') no-repeat left top;
}

.opened-apps {
	background: url('../i/toggle-arrow-16.png') no-repeat left bottom;
}

/* Applications Container */

.application-container {
	display: block;
}

.application-container .application {
	padding: 15px;
    border: 1px solid #CCC;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
	overflow: auto;
	clear: both;
}

.application-container .app-icon {
	float: left;
	margin: 0 10px 10px 0;
}

.application-container .app-name {
	width: 500px;
	margin: 4px 0 3px 0;
	font-size: 19px;
	color: #555;
}

.application-container .app-desc {
	float: left;
	width: 500px;
	color: #666;
}

.application-container .application .email-button {
	float: left;
	margin: 0 0 0 60px;
}
