<ul id="docs-sidebar-nav">
	<li class="docs-nav-section" id="docs-home"><a href="{{ site.baseurl }}/docs/">Documentation Main Page</a></li>
	
	<li class="docs-nav-section">
		<a class="section-home" href="{{ site.baseurl }}/docs/quickstart/">Quickstart Guides</a>
		<ul class="hide">
			<li class="docs-nav-sub-section">
				<a href="{{ site.baseurl }}/docs/quickstart/applets/">Making an Applet</a>
				<ul class="">
					<li><a href="{{ site.baseurl }}/docs/quickstart/applets/applets-1/">Hello Monkey v1.0</a></li>
					<li><a href="{{ site.baseurl }}/docs/quickstart/applets/applets-2/">Hello Monkey v1.1</a></li>
					<li><a href="{{ site.baseurl }}/docs/quickstart/applets/applets-3/">Hello Monkey v1.2</a></li>
					<li><a href="{{ site.baseurl }}/docs/quickstart/applets/applets-4/">Hello Monkey v1.3</a></li>
				</ul>
			</li>
			<li class="docs-nav-sub-section">
				<a href="{{ site.baseurl }}/docs/quickstart/pages/">Making a Page</a>
				<ul class="">
					<li><a href="{{ site.baseurl }}/docs/quickstart/pages/pages-1/">Creating The Call Log</a></li>
				</ul>
			</li>
			<li class="docs-nav-sub-section">
				<a href="{{ site.baseurl }}/docs/quickstart/themes/">Using Themes</a>
				<ul class="">
					<li><a href="{{ site.baseurl }}/docs/quickstart/themes/themes-1/">Add your logo</a></li>
					<li><a href="{{ site.baseurl }}/docs/quickstart/themes/themes-2/">Changing colors</a></li>
				</ul>
			</li>
		</ul>
	</li>
	
	<li class="docs-nav-section">
		<a class="section-home" href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/">Plugin API</a>
		<ul class="hide">
			<li>Data
				<ul>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/data/plugin-data/">Plugin Data</a></li>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/data/users-groups/">Users and Groups</a></li>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/data/messages/">Messages</a></li>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/data/flows/">Flows</a></li>
				</ul>
			</li>
			<li>Applets
				<ul>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/applets/applet-ui/">Applet UI</a></li>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/applets/applet-instance/">Applet Instance</a></li>
				</ul>
			</li>
			<li>Utilities
				<ul>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/utilities/version/">Version</a></li>
					<li><a href="{{ site.baseurl }}/docs/api/2010-06-01/plugin/utilities/pages/">Pages</a></li>
				</ul>
			</li>
		</ul>
	</li>
	
	<li class="docs-nav-section">
		<a class="section-home" href="{{ site.baseurl }}/docs/themes/">Themes</a>
		<ul class="hide">
			<li><a href="{{ site.baseurl }}/docs/themes/stylesheets/">Stylesheets</a></li>
			<li><a href="{{ site.baseurl }}/docs/themes/layout/">Layout</a></li>
			<li><a href="{{ site.baseurl }}/docs/themes/ui/">UI</a></li>
			<li><a href="{{ site.baseurl }}/docs/themes/plugins/">Plugins</a></li>
		</ul>
	</li>
	
	<li class="docs-nav-section">
		<a class="section-home" href="{{ site.baseurl }}/docs/browserphone/">Browser Phone</a>
		<ul class="hide">
			<li><a href="{{ site.baseurl }}/docs/browserphone/use/">Making &amp; Receiving Calls</a></li>
			<li><a href="{{ site.baseurl }}/docs/browserphone/api/">Browser Phone API</a></li>
			<li><a href="{{ site.baseurl }}/docs/browserphone/presence/">Presence</a></li>
		</ul>
	</li>

</ul><!-- #docs-sidebar-nav -->

