<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="OpenVBX allows developers to build voice and SMS applications for business, such as toll free phone numbers, call forwarding, voicemail, visual voicemail, voicemail transcriptions, and auto-attendants.  It's like Google Voice, but open source and for business." />
	<meta name="keywords" content="IVR,Hosted-IVR,telephony,API,voice applications,voice apps,Asterisk alternative,Asterisk,Asterisk help,phone web service,telephony web service,hosted PBX,pbx,hosted asterisk,SMS API,hosted SMS,SMS applications,SMS web service,send SMS messages,receive SMS messages,google voice, open source,twilio,auto-attendant,voicemail,toll free,web visual voicemail" />

	<link rel="stylesheet" href="{{ "/css/reset-fonts-grids.css" | prepend: site.baseurl }}" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/master.css" | prepend: site.baseurl }}" type="text/css" />

	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//www.google.com/jsapi" type="text/javascript"></script>
	<script src="{{ "/js/jquery.bxSlider.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</head>
